<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.inria.portolan.discovery.ui.perspective.DiscoveryPerspective"
            icon="icons/discovery.png"
            id="fr.inria.portolan.discovery.ui.perspective"
            name="Discovery">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.inria.portolan.menus.perspectiveMenu">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/discovery.png"
                  id="fr.inria.portolan.discovery.ui.menus.discoveryPerspectiveCommand"
                  label="Discovery">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="fr.inria.portolan.discovery.ui.perspective">
               </parameter>
            </command>
      </menuContribution>
   </extension>

</plugin>
