<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="fr.inria.portolan.common.build.PortolanNature"
         name="Portolan Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="fr.inria.portolan.common.build.PortolanNature"></run>
      </runtime>
      <builder id="fr.inria.portolan.common.build.EcoreRegistrationBuilder"></builder>
   </extension>
   <extension point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/portolan_16x16.png"
            natureId="fr.inria.portolan.common.build.PortolanNature"
            id="fr.inria.portolan.common.build.PortolanProjectNatureImage">
      </image>
   </extension>  

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/portolan_16x16.png"
               id="fr.inria.portolan.menus.mainMenu"
               label="Portolan">
            <separator
                  name="fr.inria.portolan.common.ui.separatorTopOfMenus">
            </separator>
	        <menu
	              icon="icons/portolan_16x16.png"
	              id="fr.inria.portolan.menus.perspectiveMenu"
	              label="Perspectives">
	        </menu>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/properties.png"
                  label="Preferences..."
                  style="push">
               <parameter
                     name="preferencePageId"
                     value="fr.inria.portolan.common.ui.preferences.PortolanPreferencePage">
               </parameter>
            </command>
	        <separator
                  name="fr.inria.portolan.common.ui.separatorHelp">
            </separator>
            <separator
                  name="fr.inria.portolan.common.ui.separatorEndOfMenus">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.inria.portolan.common.ui.preferences.PortolanPreferencePageCategory"
            class="fr.inria.portolan.common.ui.preferences.PortolanPreferencePage"
            id="fr.inria.portolan.common.ui.preferences.PortolanPreferencePage"
            name="Portolan Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.inria.portolan.common.ui.preferences.PortolanPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="fr.inria.portolan.common.ui.page1"
            class="fr.inria.portolan.common.ui.properties.ProjectPropertyPage"
            icon="icons/portolan_16x16.png"
            id="fr.inria.portolan.common.ui.properties.ProjectPropertyPage"
            name="Portolan Project">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="fr.inria.portolan.common.ui.handlers.SwitchPortolanNature"
               icon="icons/portolan_16x16.png"
               id="fr.inria.portolan.common.ui.addPortolanNature"
               label="Add Portolan nature to the project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <and>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <and>
                              <not>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="fr.inria.portolan.common.build.PortolanNature">
                                 </test>
                              </not>
                              <test
                                    property="org.eclipse.core.resources.open"
                                    value="true">
                              </test>
                           </and>
                        </adapt>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="fr.inria.portolan.common.ui.handlers.SwitchPortolanNature"
               icon="icons/portolan_16x16.png"
               id="fr.inria.portolan.common.ui.removePortolanNature"
               label="Remove the Portolan Nature of the Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="fr.inria.portolan.common.build.PortolanNature">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="true">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.inria.portolan.common.ui.handlers.SwitchPortolanNature"
            name="Add/Remove Portolan Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.inria.portolan.common.ui.handlers.SwitchPortolanNature"
            commandId="fr.inria.portolan.common.ui.handlers.SwitchPortolanNature">
      </handler>
    </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.inria.portolan.common.ui.wizards"
            name="Portolan">
      </category>
      <wizard
            category="fr.inria.portolan.common.ui.wizards"
            class="fr.inria.portolan.common.ui.wizards.NewPortolanProjectWizard"
            finalPerspective="org.eclipse.m2m.atl.adt.ui.atlPerspective"
            hasPages="true"
            icon="icons/portolan_16x16.png"
            id="fr.inria.portolan.common.ui.wizards.NewProjectWizard"
            name="New Portolan Project"
            preferredPerspectives="org.eclipse.m2m.atl.adt.ui.atlPerspective, fr.inria.portolan.visualization.ui.perspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/portolan_8x8.png"
            id="fr.inria.portolan.common.ui.decorator.project"
            label="Portolan Project Decorator"
            lightweight="true"
            location="TOP_LEFT">
         <!--enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="org.eclipse.ui .IResourceActionFilter.PROJECT_NATURE"
                     value="fr.inria.portolan.common.build.PortolanNature">
               </objectState>
            </and>
         </enablement-->
      </decorator>
   </extension>
</plugin>
