<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/portolan_16x16.png">
         <run
               class="fr.inria.portolan.rcp.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.inria.portolan.rcp.application"
            name="Portolan RCP Cartography Framework">
         <property
               name="windowImages"
               value="icons/portolan_16x16.gif,icons/portolan_32x32.gif,icons/portolan_48x48.gif,icons/portolan_64x64.gif,icons/portolan_128x128.gif">
         </property>
         <property
               name="appName"
               value="Portolan RCP Cartography Framework">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="Portolan Model-Driven Cartography Framework&#x0A;&#x0A;Copyright (c) 2009, 2011 INRIA and others.&#x0A;All rights reserved.   This program and the accompanying materials are made available under the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at http://www.eclipse.org/legal/epl-v10.html&#x0A;&#x0A;Contributors:&#x0A;   INRIA - Initial API and implementation&#x0A;&#x0A;Visit http://code.google.com/a/eclipselabs.org/p/portolan/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:fr.inria.portolan.menus.mainMenu?after=fr.inria.portolan.common.ui.separatorHelp">
         <menu
               icon="icons/help.gif"
               id="fr.inria.portolan.menus.helpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/portolan_16x16.png"
                  label="About"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/portolan_16x16.gif"
               label="Update Portolan">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.inria.portolan.menus.perspectiveMenu">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  id="fr.inria.portolan.rcp.ui.menus.atlPerspectiveCommand"
                  icon="icons/atl_logo.gif"
                  label="ATL"
                  mnemonic="S">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="org.eclipse.m2m.atl.adt.ui.atlPerspective">
               </parameter>
            </command>
      </menuContribution>
   </extension>
</plugin>
