<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:fr.inria.portolan.menus.mainMenu?after=fr.inria.portolan.common.ui.separatorHelp">
         <menu
               icon="icons/help.gif"
               id="fr.inria.portolan.menus.helpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  icon="icons/help.gif"
                  label="Help"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
