<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.portolan.visualization.fullView">
      <full_view
            commandId="fr.inria.portolan.visualization.prefuse.commands.fullModel"
            editorId="fr.inria.portolan.visualization.prefuse.ui.PrefuseEditor"
            iconPath="icons/prefuse_force.png"
            id="fr.inria.portolan.visualization.prefuse.view"
            name="Portolan Full Model Graph View Definition"
            pluginId="fr.inria.portolan.visualization.prefuse"
            text="Full Graph (Single)"
            tooltip="Multi relationships are managed multiple single edges">
      </full_view>
      <full_view
            commandId="fr.inria.portolan.visualization.prefuse.commands.fullModelMulti"
            editorId="fr.inria.portolan.visualization.prefuse.ui.PrefuseEditorMulti"
            iconPath="icons/prefuse_force.png"
            id="fr.inria.portolan.visualization.prefuse.viewMulti"
            name="Portolan Full Model Multi Graph View Definition"
            pluginId="fr.inria.portolan.visualization.prefuse"
            text="Full Graph (Multi)"
            tooltip="Multi relationships are managed by empty nodes">
      </full_view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution
            id="fr.inria.portolan.visualization.prefuse.objectContribution2bis"
            nameFilter="*.xmi"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/portolan_16x16.png"
               id="fr.inria.portolan.visualization.prefuse.menu"
               label="Portolan Graphs"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="fr.inria.portolan.visualization.prefuse.actions.Cartography2GraphMLAction"
               enablesFor="1"
               icon="icons/prefuse_force.png"
               id="fr.inria.portolan.visualization.prefuse.am3toGraphMLAction"
               label="Generate a Prefuse GraphML model from a Cartography model"
               menubarPath="fr.inria.portolan.visualization.prefuse.menu/group1">
         </action>
      </objectContribution>
     <objectContribution
            id="fr.inria.portolan.visualization.prefuse.objectContribution3"
            nameFilter="*.graphml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/portolan_16x16.png"
               id="fr.inria.portolan.visualization.prefuse.menu"
               label="Portolan Graphs"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="fr.inria.portolan.visualization.prefuse.actions.ViewGraphAction"
               enablesFor="1"
               icon="icons/portolan_16x16.png"
               id="fr.inria.portolan.visualization.prefuse.viewGraphMLAction"
               label="View a Prefuse GraphML file"
               menubarPath="fr.inria.portolan.visualization.prefuse.menu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.inria.portolan.visualization.prefuse.ui.PrefuseEditor"
            default="false"
            extensions="graphml"
            icon="icons/portolan_16x16.png"
            id="fr.inria.portolan.visualization.prefuse.ui.PrefuseEditor"
            name="Portolan Graph Viewer">
      </editor>
      <editor
            class="fr.inria.portolan.visualization.prefuse.ui.PrefuseEditorMulti"
            default="false"
            extensions="graphml"
            icon="icons/portolan_16x16.png"
            id="fr.inria.portolan.visualization.prefuse.ui.PrefuseEditorMulti"
            name="Portolan Graph Viewer">
      </editor>
   </extension>
</plugin>
